
.navbar{
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
        i:hover {
                scale: 1.1;
                transition: all .1s;
            }
    input{
        border-radius: 5px;
        font-size: 10px;
        width: 400px;
        padding: 10px;
        // position: relative;
        
    }
    i{
        font-size: 20px;
        color: white;
    }
    a{
        text-decoration: none;
        list-style: none;
        color: white;
    }
       

}
@media screen and (max-width:550px) {
    .navbar {
        width:100%;
        i{
            // display: none;
            display: block;
            
        }
        input{
            width: 50px;
        }
    }

}
#search_icon{
    margin-left: -20px;
    // position: absolute;
}

