body{
    margin: 0px;
    padding: 0px;
        img:hover {
                scale: 1.1;
                transition: all .1s;
            }
}
@media screen and (max-width:550px) {
    .navbar {
        width: 100%;

        i {
            /* // display: none; */
            display: block;

        }

        input {
            width: 50px;
        }
    }

}
.navbar {
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    i:hover {
            scale: 1.1;
            transition: all .1s;
        }
    input {
        border-radius: 5px;
        font-size: 10px;
        width: 400px;
        padding: 10px;
        /* // position: relative; */

    }

    i {
        font-size: 20px;
    }

}

#search_icon {
    margin-left: -20px;
    /* // position: absolute; */
}



.thanku{
text-align: center;
padding: 20px;

}
.succes{
color: rgb(76, 173, 76);
    box-shadow: 0px 10px 15px aquamarine;
    width: 45%;
    /* display: flex;
    justify-content: center; */
    align-items: center;
    margin-left: 28%;
    margin-top: 50px;
    h3{
        color: rgb(227, 68, 68);
        font-size: 20px;
    }
   
}
a{
 
            color: rgb(25, 168, 120);
            font-size: 20px;
            text-decoration: none;
        
}

/* //FOOTER  SECTION */


.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 20px;
    margin-top: 100px;
    background-color:black;
    /* // position: static; */

}


.social {
    color: white;
    margin-left: 20px;


    input {
        font-size: 20px;
        padding: 5px;
        margin-top: 10px;
        border-radius: 10px;
    }

    i {

        font-size: 50px;
        margin: 10px;
        margin-top: 50px;
        color: white;
    }
}


.useful_links {
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    gap: 20px;
}

.products {
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    gap: 20px;
}

footer {
    color: white;
    border-radius: 2px solid rgb(82, 76, 76);
    background-color: rgb(40, 34, 34);
    text-align: center;
    padding: 20px;
}